####################################
# Android Studio / IntelliJ IDEA
####################################
.idea/
*.iml

####################################
# Gradle
####################################
.gradle/
build/
**/build/

####################################
# Local configuration
####################################
local.properties

####################################
# Android outputs
####################################
*.apk
*.aab
*.ap_
*.dex

####################################
# Native build
####################################
.cxx/
.externalNativeBuild/

####################################
# Logs & OS files
####################################
*.log
.DS_Store
Thumbs.db

####################################
# Keystore / signing
####################################
*.jks
*.keystore
*.pem

####################################
# Captures
####################################
captures/

####################################
# Fonts (NO versionar fuentes)
####################################
app/src/main/res/font/

####################################
# Test & coverage
####################################
coverage/
*.ec

####################################
# Kotlin / JVM
####################################
*.class

####################################
# Temporary / backup files
####################################
*~
*.swp
*.bak
